# Copia a .env.dns (gitignored) y rellena. No subas el token a git.
CPANEL_HOST=cp5.grid-dns.net
CPANEL_USER=moisesva
CPANEL_TOKEN=

# Opcional
DNS_ZONE=moisesvalero.es
VERCEL_CNAME=cname.vercel-dns.com
VERCEL_TEAM=moisesvs84-6837s-projects
